@font-face {
    font-family: 'odin-project';
    src: url('/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color:rgb(238, 237, 237);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.hero{
    background-color: rgb(238, 237, 237);
    padding-top: 10%;
    margin-left: 5%;
}
.hero *{
    text-align: left;
    width: 80%;
   
}
.bold-p{
    font-weight: bold;
}
.leavesimage{
    width: 100%;
    height: 100%;   
}
.columnLeft {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    background-image: url('/images/formimage.avif');
    background-size: cover;
    background-position: center;   
    position: relative;
}
.logo{
    background-color: rgba(0, 0, 0, 0.5);
    height: 20%;
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     gap: 1vw;
}
.logo-text{
    font-family: 'odin-project', Arial;
    font-size: 5em;
    color: rgb(255, 253, 253);
  
}
.logo-image{
    width: 9vh;
    height: 12vh;
}
.columnRight {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8rem;
}

.container{
    background-color: white;
    padding-left: 5%;
    padding-bottom: 3%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: auto;
    border: none; 
    font-size: 0.5rem;
    margin-inline-start: 0px;
    padding-inline-start: 0em;
}

.form-row{
    display: flex;
    gap: 20px;
    align-items: left;
    justify-content: left;
    width: 80%;
   
}
.label-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    flex: 1 1 10%;
    padding-top: 8px;
    box-sizing: border-box;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    border-radius: 5px;
}

.error-message{
    display: block;
    visibility: hidden;
    color: red;
    font-size: 0.7rem;
}
input:user-valid {
    border: none;
    outline: 1px solid green;
    border-radius: 5px;
}
input:not(:focus):user-invalid {
    border: none;
    outline: 1px solid red;
    border-radius: 5px;
}
input:not(:focus):user-invalid ~ .error-message{
    visibility: visible;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: left;
    padding-left: 5%;
}
button{
    background-color: rgb(89, 108, 72);
    padding: 10px;
    border-radius: 5px;
    border: none;
    width:23%;
    color: #f0f0f0;
    justify-content: left;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 3%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: rgb(109, 128, 92);
}
button:active {
    background-color: rgb(79, 98, 62);
    transform: scale(0.98); /* Slight shrinking effect */
}


#login{
    color: rgb(89, 108, 72);
   font-weight: bold;
}